.event {
    padding: 80px 20px;
    background: #fff;
    /* background-image: url('../../images/pictures/backgroundSubscribes.svg'); */
}

.event__container {
    max-width: 1100px;
    margin: 0 auto;
}

.event-info__flex {
    display: flex;
}

.event-info__title {
    font-size: 42px;
    color: #bb59a7;
    letter-spacing: 0.2cm;
    text-transform: uppercase;
    font-family: 'TitleBrush';
    margin: 0;
}

.event-info__subtitle {
    margin-top: 5px;
    color: #666;
    font-family: 'Pangolin' !important;
}

.event-info__p {
    margin-top: 3rem;
    font-family: 'Pangolin' !important;
    font-weight: normal;
    letter-spacing: 0.01cm;
    font-size: 17px;
}

.event-info__image-img {
    width: 100%;
    height: auto;
}

.event-info__button {
    margin-top: 40px;
    text-align: center;
    display: flex;
    padding: 3% 10%;
    border-radius: 20px;
    border: none;
    background: #bb59a7;
    color: white;
    font-family: 'Pangolin' !important;
    letter-spacing: 0.04cm;
    font-size: 18px;
    font-weight: 100;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

.event-info__button:hover {
     background: #af529d;
}

.event-info__small-block-image {
    max-width: 60px;
    height: auto;
    margin-right: 20px;
}

.event-info__block {
    display: flex;
    gap: 40px;

    margin-top: 5%;
    padding: 30px 38px;

    background: #fff;
    border-radius: 16px;

    border: 1px solid rgba(0, 0, 0, 0.08);

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);

    align-items: center;
}

.event-info__small-block {
    display: flex;
}

.event-info__small-block-title {
    font-family: 'Pangolin';
    color: #2c2c2c;
    font-size: 18px;
}

.event-info__small-block-text {
    font-family: 'Pangolin';
    color: #494949;
    font-size: 15px;
}

.event-info__small-block-title,
.event-info__small-block-text {
    font-family: 'Pangolin';
    letter-spacing: 0.01cm;
}

.event-info__what-will-happen {
    margin-top: 5%;
}

.flex {
    display: flex;
    gap: 80px;
}

.what-will-happen__title {
    color: #bb59a7;
    font-family: 'TitleBrush';
    font-size: 32px;
    text-transform: uppercase;
}

.what-will-happen__text {
    font-family: 'Pangolin';
    font-size: 18px;
    letter-spacing: 0.01cm;
    margin-top: 15px;
    white-space: pre-line;
    line-height: 1.8;
}

.right {
    float: right;
    display: flex;
    gap: 10px;
}

.what-will-happen__image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
}

.event-info-block__under {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 100px;
}

.under__small-icon {
    width: 60px;
    height: auto;
}

.event-info-block__under-title {
    font-family: 'TitleBrush';
    color: #bb59a7;
    font-size: 32px;
    margin-top: 5%;
}

.under__small-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    padding: 0 18px;
}

.under__small-block:not(:last-child)::after {
    content: "";
    position: absolute;
    right: -50%;
    top: 20%;
    height: 60%;
    width: 2px;
    background: linear-gradient(to bottom, transparent, #3d3d3d, transparent);
    opacity: 0.4;
}

.under__small-text {
    font-family: 'Pangolin';
    letter-spacing: 0.01cm;
    margin-top: 10px;
}

.event__attention {
    display: flex;
    gap: 40px;
    margin-top: 8%;
    padding: 30px 38px;
    background: #fff;
    border-radius: 16px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    align-items: center;
    position: relative;
    z-index: 1000;
}

.attention__img {
    width: 300px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.attention--circle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    font-size: 42px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid rgb(20, 22, 44);
    transform: scaleY(0.8);
    color: #af529d;
}

.attention__title {
    font-size: 20px;
    font-family: 'Pangolin';
    letter-spacing: 0.02cm;
    color: rgb(20, 22, 44);
}

.attention__text {
    font-size: 18px;
    font-family: 'Pangolin';
    letter-spacing: 0.02cm;
    color: rgb(19, 22, 58);
    max-width: 70%;
}