@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Pangolin&display=swap');
@font-face {
    font-family: 'TitleBrush';
    src: url('./fonts/Inkverse-BWDRx.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-family: 'Pangolin'; */
    scroll-behavior: smooth;
}

.brush {
    font-family: 'Pangolin' !important;
}

img {
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

html,
body,
#root {
    min-height: 100%;
    margin: 0;
}


#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


body {
    display: flex;
    flex-direction: column;
}


header {
    flex-shrink: 0;
}


main {
    flex: 1;
}


footer {
    margin-top: auto;
    flex-shrink: 0;
}